<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>{{ isLoginMode ? 'Sign In' : 'Sign Up' }}</h1>
    <form (ngSubmit)="onSubmit()" #authForm="ngForm" >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          ngModel
          name="email"
          #email="ngModel"
          email
          required>
        <span class="help-block" *ngIf="email.invalid && email.touched">Please fill in a valid email.</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          ngModel
          name="password"
          #password="ngModel"
          required
          minlength="6">
          <span class="help-block" *ngIf="password.invalid && password.touched">Please fill in a valid password. Minimum length is 6 characters.</span>
      </div>
      <!-- This approach is strongly recommended over imperitive approach -->
      <!-- <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert> -->
      <!-- <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div> -->
      <div class="form-group">
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="authForm.invalid || isLoading">
          <span>{{ isLoginMode ? 'Sign In' : 'Sign Up'  }} <app-loading-spinner *ngIf="isLoading"></app-loading-spinner></span>
        </button> | 
        <button 
          class="btn btn-primary" 
          [disabled]="isLoading"
          (click)="onSwitchMode()" 
          type="button">
          {{ isLoginMode ? 'Not yet' : 'Already' }} a user?
        </button>
      </div>
    </form>
  </div>
</div>